@import "partials/reset";
@import "partials/colors";
@import "partials/variables";
@import "partials/functions";
@import "partials/measures";
@import "partials/forms";

@import "modules/global";
@import "modules/listings";
@import "modules/layout";
@import "modules/header";
@import "modules/install";
@import "modules/header-navigation";
@import "modules/pages/home";
@import "modules/pages/managmentMenu";
@import "modules/create-user";
@import "modules/pages/user-managment";
@import "modules/pages/test-creation";
@import "modules/pages/test-list";
@import "modules/pages/workspace";