/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: black; }

.FormRow {
  position: relative;
  width: 100%;
  float: left;
  margin: 0 0 15px 0; }
  .FormRow .GlobalErrors {
    width: 90%;
    float: left; }
    .FormRow .GlobalErrors .GlobalError {
      display: block;
      width: 100%;
      color: white;
      font-size: 1.2em;
      line-height: 1.2em;
      margin: 0 0 10px 0;
      padding: 5px 5px 5px 5px;
      border: 1px solid #ff3c2b; }
  .FormRow .FormRow--label {
    width: 30%;
    float: left; }
  .FormRow .FormRow--field {
    width: 50%;
    float: left; }
  .FormRow .FormRow--SubmitButton {
    display: block;
    width: 150px;
    padding: 5px; }
  .FormRow .BasicLabel {
    color: white;
    padding: 5px;
    letter-spacing: 0.03em;
    font-size: 1.2em; }
  .FormRow .BasicField {
    font-size: 1.2em;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    color: white;
    border: 1px solid white;
    border-radius: 3px; }
    .FormRow .BasicField:focus {
      color: white;
      border: 1px solid #2C84EE; }
  .FormRow .BasicTextarea {
    resize: none;
    font-size: 1.2em;
    height: 200px; }
  .FormRow .BasicCheckbox {
    width: 18px;
    height: 18px;
    float: right; }
  .FormRow .BasicSelect {
    width: 200px;
    float: left;
    padding: 2px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.2em;
    background-color: #303133;
    border: 1px solid white;
    border-radius: 2px;
    color: white; }
  .FormRow .BasicSubmitButton {
    float: right;
    font-family: 'Open Sans Condensed', cursive;
    font-size: 1.2em;
    color: white;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    border: 1px solid white;
    -webkit-transition: background-color 0.4s, border 0.4s;
    -moz-transition: background-color 0.4s, border 0.4s;
    -ms-transition: background-color 0.4s, border 0.4s;
    -o-transition: background-color 0.4s, border 0.4s;
    transition: background-color 0.4s, border 0.4s; }
    .FormRow .BasicSubmitButton:hover {
      background-color: #EC7063;
      border: 1px solid #EC7063; }
    .FormRow .BasicSubmitButton:active {
      background-color: #EC7063;
      border: 1px solid #EC7063; }
  .FormRow .CheckboxSection {
    width: 100%;
    float: left;
    padding: 5px;
    margin: 0 0 5px 0; }
  .FormRow .FormError {
    position: absolute;
    top: -2px;
    right: 0;
    left: 0;
    width: 150px;
    padding: 5px 5px 5px 5px;
    text-align: center; }
  .FormRow .BasicError {
    width: 300px;
    color: white;
    left: 550px;
    top: 4px;
    font-size: 1.2em;
    border: 1px solid #ff3c2b; }
  .FormRow .Action {
    width: 120px;
    float: left;
    text-align: right;
    color: white;
    font-size: 1.2em;
    padding: 10px; }
  .FormRow .ActionSubmitDirective {
    width: 100%;
    float: right; }

.FormRowWrapper {
  padding: 10px;
  border: 1px solid white; }

.FormSeparator {
  width: 90%;
  float: left;
  padding: 5px 5px 5px 0;
  margin: 15px 0 30px 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

img {
  max-width: 100%;
  width: 100%; }

body {
  overflow-x: hidden;
  background-color: #424242; }

.Global {
  max-width: 1920px;
  min-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px; }

.ContentElement {
  width: 100%;
  float: left;
  margin: 50px 0 0 0;
  position: relative; }
  .ContentElement .ContentMainTitle, .ContentElement .ContentSubTitle {
    width: 100%;
    padding: 0 0 15px 0;
    font-size: 1.6em;
    border-bottom: 1px solid white; }
  .ContentElement .ContentSubTitle {
    font-size: 1.4em;
    border-bottom: 1px dotted white;
    margin: 25px 0 25px 0; }
  .ContentElement .ContentCentered {
    margin: 0 auto;
    margin-bottom: 50px; }

.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: white; }

.Expandable {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  float: left;
  margin: 0 0 10px 0;
  border: 1px solid white; }
  .Expandable .Expandable--click {
    width: 100%;
    height: 46px;
    float: left;
    display: block;
    padding: 15px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .Expandable .Expandable--click .Expandable--item {
      display: block;
      float: left;
      color: white; }
    .Expandable .Expandable--click:hover {
      cursor: pointer !important;
      background-color: #2C84EE !important; }

.Expandable--info {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  float: left;
  padding: 10px; }
  .Expandable--info .InfoSection {
    width: 40%;
    float: left;
    margin: 10px 60px 20px 0; }
    .Expandable--info .InfoSection .InfoSection--title {
      width: 100%;
      float: left;
      padding: 5px 0 5px 0;
      color: white;
      border-bottom: 1px solid white; }
    .Expandable--info .InfoSection .InfoSection--text {
      width: 100%;
      float: left;
      padding: 10px;
      letter-spacing: 0.03em;
      word-spacing: 0.03em;
      line-height: 1.6em;
      font-size: 1.2em;
      color: white; }
    .Expandable--info .InfoSection .InfoSection--highlightOk {
      color: #5de253; }
    .Expandable--info .InfoSection .InfoSection--highlightNotOk {
      color: #EC7063; }
    .Expandable--info .InfoSection .InfoSection--block {
      width: 100%;
      float: left;
      font-size: 1.1em;
      padding: 10px; }
    .Expandable--info .InfoSection .InfoSection--rowAligned {
      width: auto;
      display: inline-block;
      float: left;
      margin-right: 10px; }
  .Expandable--info .InfoSection--expand {
    width: 100%;
    margin: 10px 0 10px 0; }

.Container {
  width: 1200px;
  margin: 0 auto; }

.OverflowedContainer {
  overflow: hidden; }

.Global__Header {
  width: 100%;
  float: left;
  background-color: #303133; }

.InstallBody {
  background: url(../images/install-background.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-color: #303133; }

.InstallHeader {
  float: none;
  overflow: hidden; }

.Content {
  position: relative;
  width: 1280px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px; }

.InstallInformation {
  width: 800px;
  left: 260px;
  position: absolute; }
  .InstallInformation .InstallInformation--paragraph {
    width: 100%;
    margin: 0 0 15px 0;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    color: white; }
  .InstallInformation .InsideLink {
    color: #EC7063; }
  .InstallInformation .InstallInformation--continueButton {
    width: 150px;
    float: right;
    display: block;
    border: 1px solid white;
    background-color: transparent;
    font-family: 'Open Sans Condensed', cursive;
    color: white;
    font-size: 1.5em;
    margin: 15px 0 0 0;
    padding: 10px;
    -webkit-transition: background-color 0.4s, border 0.4s;
    -moz-transition: background-color 0.4s, border 0.4s;
    -ms-transition: background-color 0.4s, border 0.4s;
    -o-transition: background-color 0.4s, border 0.4s;
    transition: background-color 0.4s, border 0.4s; }
    .InstallInformation .InstallInformation--continueButton:active {
      background-color: #EC7063;
      border: 1px solid #EC7063; }
    .InstallInformation .InstallInformation--continueButton:hover {
      background-color: #EC7063;
      border: 1px solid #EC7063; }

.Install__Title {
  font-family: 'Dancing Script', cursive;
  font-size: 7em;
  text-align: center;
  color: #EC7063;
  margin: 50px 0 50px 0; }

.UninstalledMessage {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2em;
  color: white;
  letter-spacing: 0.05em;
  line-height: 1.8em; }

.InstallLink {
  width: 200px;
  display: block;
  padding: 10px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid white;
  font-size: 1.2em;
  -webkit-transition: background-color 0.4s, border 0.4s;
  -moz-transition: background-color 0.4s, border 0.4s;
  -ms-transition: background-color 0.4s, border 0.4s;
  -o-transition: background-color 0.4s, border 0.4s;
  transition: background-color 0.4s, border 0.4s; }
  .InstallLink:active {
    background-color: #EC7063;
    border: 1px solid #EC7063; }
  .InstallLink:hover {
    background-color: #EC7063;
    border: 1px solid #EC7063; }

.FormPosition {
  width: 800px;
  position: absolute;
  top: 0;
  left: 0; }
  .FormPosition .InstallSubmit {
    margin: 15px 160px 0 0; }

.InstallForm {
  left: 1280px; }
  .InstallForm .ActionMoveRight {
    margin-right: 160px; }
  .InstallForm .ActionDecision {
    width: 100%;
    float: left;
    text-align: left; }
  .InstallForm .InstallError {
    left: 650px; }

.LoginForm {
  width: 800px;
  margin: 150px 00 0 240px; }

.MainNavigation {
  z-index: 100; }
  .MainNavigation .AppLogo {
    width: 100px;
    float: left;
    font-family: "Dancing Script", "Open Sans Condensed", sans-serif;
    color: #EC7063;
    font-size: 1.6em;
    padding: 5px 0 5px 0; }
  .MainNavigation .UserInfo {
    width: 250px;
    float: right;
    position: relative;
    z-index: 100; }
    .MainNavigation .UserInfo .UserInfo--mail {
      display: block;
      width: 235px;
      float: right;
      color: white;
      font-size: 1.2em;
      background-color: transparent;
      font-family: "Open Sans Condensed", sans-serif;
      border: none;
      text-align: center;
      padding: 5px 5px 5px 5px;
      -webkit-transition: background-color 0.3s, color 0.3s;
      -moz-transition: background-color 0.3s, color 0.3s;
      -ms-transition: background-color 0.3s, color 0.3s;
      -o-transition: background-color 0.3s, color 0.3s;
      transition: background-color 0.3s, color 0.3s; }
      .MainNavigation .UserInfo .UserInfo--mail .UserInfo--userIcon {
        display: block;
        float: right;
        width: 25px;
        height: 25px;
        background-image: url(../images/icons/user-icon.png);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }

.ManagmentMenu .CompiledMenu {
  width: 100%;
  float: left;
  margin: 50px 0 50px 0; }
  .ManagmentMenu .CompiledMenu .ContentSubTitle {
    color: white; }
.ManagmentMenu .MenuBlock {
  width: 100%;
  float: left;
  margin-bottom: 15px; }
  .ManagmentMenu .MenuBlock .MenuChoice {
    width: 100px;
    height: 110px;
    float: left;
    color: white;
    border: 1px solid #6b6b6b;
    margin-right: 15px;
    -webkit-transition: background-color 0.3s, border 0.3s;
    -moz-transition: background-color 0.3s, border 0.3s;
    -ms-transition: background-color 0.3s, border 0.3s;
    -o-transition: background-color 0.3s, border 0.3s;
    transition: background-color 0.3s, border 0.3s; }
    .ManagmentMenu .MenuBlock .MenuChoice:hover {
      background-color: #EC7063;
      border: 1px solid white;
      cursor: pointer; }
    .ManagmentMenu .MenuBlock .MenuChoice .MenuChoice--icon {
      display: block;
      width: 40px;
      height: 40px;
      margin: 5px auto;
      margin-bottom: 15px; }
    .ManagmentMenu .MenuBlock .MenuChoice .MenuChoice--text {
      display: block;
      width: 100%;
      font-size: 1.2em;
      text-align: center;
      margin-top: 5px; }
  .ManagmentMenu .MenuBlock .AwayLeft {
    margin-left: 115px; }

.CreateUser {
  color: white; }

.MainContent {
  width: 800px; }
  .MainContent .CheckboxExplanation {
    margin: 15px 0 15px 0;
    padding: 5px 5px 5px 5px;
    border-top: 1px dotted white; }
  .MainContent .CreateUserSubmitButton {
    margin: 15px 160px 0 0 !important; }
  .MainContent .CreateUserError {
    left: 650px; }

.Expandable--info {
  padding: 50px 10px 10px 10px; }
  .Expandable--info .Expandable--click .Expandable--testName {
    margin: 0 5px 0 0; }
  .Expandable--info .Expandable--click .Expandable--created {
    float: right; }
  .Expandable--info .InfoSection--block {
    color: white; }
  .Expandable--info .InfoSection--finished {
    color: #5de253; }
  .Expandable--info .InfoSection--notFinished {
    color: #EC7063; }
  .Expandable--info .ModificationActions {
    width: 100%;
    float: left;
    border-top: 1px solid white; }
    .Expandable--info .ModificationActions .ModifyAction--action {
      width: 150px;
      float: left;
      padding: 10px;
      color: white;
      text-align: center;
      font-size: 1.2em;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      transition: background-color 0.3s; }
    .Expandable--info .ModificationActions .ModifyAction--modify:hover {
      background-color: #2C84EE; }
    .Expandable--info .ModificationActions .ModifyAction--change:hover {
      background-color: #2C84EE; }
    .Expandable--info .ModificationActions .ModifyAction--continue:hover {
      background-color: #2C84EE; }
    .Expandable--info .ModificationActions .ModifyAction--delete:hover {
      background-color: #EC7063; }

.ContentElement .ContentMainTitle {
  position: relative;
  color: white; }

.UserManagmentMain, .TestListManagment {
  padding: 50px 0 0 0; }
  .UserManagmentMain .Expandable--click .Expandable--name, .UserManagmentMain .Expandable--click .Expandable--testName, .TestListManagment .Expandable--click .Expandable--name, .TestListManagment .Expandable--click .Expandable--testName {
    margin: 0 5px 0 0; }
  .UserManagmentMain .Expandable--click .Expandable--username, .UserManagmentMain .Expandable--click .Expandable--created, .TestListManagment .Expandable--click .Expandable--username, .TestListManagment .Expandable--click .Expandable--created {
    float: right; }

.Listing .LoadMore {
  display: block;
  width: 100%;
  height: 46px;
  float: left;
  text-decoration: none;
  color: #a0a0a0;
  font-size: 1.2em;
  text-align: center;
  padding: 10px; }
  .Listing .LoadMore:hover {
    color: white; }
.Listing .NoUsers {
  display: block;
  width: 100%;
  height: 46px;
  float: left;
  text-decoration: none;
  color: #a0a0a0;
  font-size: 1.2em;
  text-align: center;
  padding: 10px; }

.ContentSubTitle {
  color: white; }

.TestRestrictions .UserTable {
  background-color: #303133;
  color: white;
  width: 300px;
  height: 300px; }
  .TestRestrictions .UserTable .ListTable--label {
    width: 100%;
    float: left;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .TestRestrictions .UserTable .ListTable--label:hover {
      background-color: #2C84EE; }
.TestRestrictions .UserListTable {
  float: left;
  overflow: auto;
  margin-right: 20px;
  border: 1px solid white; }
.TestRestrictions .UserAllowedTable {
  width: 40%;
  float: left;
  overflow: auto;
  border: 1px solid white; }

.MainContent {
  padding: 50px 0 0 0; }

.WorkspaceTemplate .BuilderContent {
  width: 100%;
  float: left;
  margin: 50px 0 50px 0; }

.Builder {
  width: 800px;
  margin: 0 auto; }
  .Builder .BuilderMenu {
    width: 100%;
    float: left;
    margin-bottom: 100px;
    border-bottom: 1px dotted white; }
  .Builder .Blocks {
    width: 50%;
    float: left; }
    .Builder .Blocks .Blocks--title {
      position: relative;
      color: white;
      font-size: 1.2em;
      padding: 10px 0 10px 40px;
      margin-bottom: 20px; }
      .Builder .Blocks .Blocks--title .Block--icon {
        display: block;
        position: absolute;
        top: 7px;
        left: 0;
        width: 25px;
        height: 25px; }
      .Builder .Blocks .Blocks--title .Question--icon {
        background: url(../images/icons/question-block.png) no-repeat;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%; }
      .Builder .Blocks .Blocks--title .Answer--icon {
        background: url(../images/icons/answer-block.png) no-repeat;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%; }
    .Builder .Blocks .BlockType {
      width: 100px;
      height: 100px;
      float: left;
      border: 1px solid white;
      color: white;
      margin: 0 10px 10px 0;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      .Builder .Blocks .BlockType:hover {
        cursor: pointer;
        background-color: #2C84EE; }
      .Builder .Blocks .BlockType .ContentCentering {
        display: block;
        padding: 5px;
        margin-top: 10px;
        font-size: 1.2em;
        text-align: center; }
  .Builder .ChoiceBlock {
    width: 100%;
    float: left;
    margin: 100px 0 10px 0; }
    .Builder .ChoiceBlock .TestNumber {
      display: block;
      padding: 8px;
      float: left;
      font-size: 1.8em;
      color: #EC7063;
      margin-right: 25px; }
    .Builder .ChoiceBlock .Choice--button {
      width: 200px;
      float: left;
      padding: 10px;
      border: 1px solid white;
      background-color: transparent;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 1.2em;
      color: white;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      transition: background-color 0.3s; }
      .Builder .ChoiceBlock .Choice--button:hover {
        cursor: pointer;
        background-color: #2C84EE; }
    .Builder .ChoiceBlock .Delete:hover:hover {
      cursor: pointer;
      background-color: #EC7063; }
  .Builder .BuildMenu--title {
    color: white; }

.SuitBlocks {
  width: 800px;
  margin: 0 auto; }
  .SuitBlocks .Block {
    width: 100%;
    float: left;
    margin-bottom: 50px; }
    .SuitBlocks .Block:hover .BlockEvents {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1; }
  .SuitBlocks .BlockEvents {
    width: 150px;
    position: absolute;
    top: 0;
    left: -150px; }
    .SuitBlocks .BlockEvents .Event--title {
      display: block;
      color: white;
      font-size: 1.2em;
      padding: 5px 0 5px 0;
      border-bottom: 1px dotted white; }
    .SuitBlocks .BlockEvents .Event {
      color: white;
      display: block;
      width: 100%;
      padding: 5px 0 5px 0;
      font-size: 1.2em;
      -webkit-transition: background-color 0.3s, color 0.3s;
      -moz-transition: background-color 0.3s, color 0.3s;
      -ms-transition: background-color 0.3s, color 0.3s;
      -o-transition: background-color 0.3s, color 0.3s;
      transition: background-color 0.3s, color 0.3s; }
      .SuitBlocks .BlockEvents .Event:hover {
        cursor: pointer;
        background-color: #2C84EE;
        color: white; }
  .SuitBlocks .AnswerPreparation {
    width: 100%;
    height: 200px;
    padding: 5px;
    color: white;
    font-size: 1.2em;
    border: 1px solid white; }
  .SuitBlocks .QuestionTextarea {
    width: 100%; }
  .SuitBlocks .CodeBlock .AceEditor {
    height: 300px; }
  .SuitBlocks .SelectBlock .WorkspaceSelectLabel {
    width: 110px;
    margin-left: 20px; }
  .SuitBlocks .SelectBlock .WorkspaceRadioButton {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 8px;
    border: 1px solid white; }
  .SuitBlocks .SelectBlock .AdjustPosition {
    margin: 0 20px 10px 0; }

.ActionArea {
  width: 100%;
  float: left;
  margin-top: 100px;
  padding: 15px;
  border: 1px solid white; }
  .ActionArea .ActionMoveLeft, .ActionArea .AwaitLeft {
    float: left; }
  .ActionArea .ActionMoveRight, .ActionArea .AwaitRight {
    float: right; }
  .ActionArea .ActionNextTest {
    width: 50%;
    float: right; }
  .ActionArea .ActionPreviousTest {
    width: 50%;
    float: left; }
  .ActionArea .ActionFinishTest {
    width: 100%;
    float: left;
    margin-top: 50px; }

.FilterComponentUI {
  width: 100%;
  float: left;
  padding: 10px;
  margin: 0 0 20px 0;
  border: 1px solid #2C84EE; }
  .FilterComponentUI .FilterUI .UI--option {
    display: inline-block;
    float: left;
    font-size: 1.2em;
    border-right: 1px solid #a0a0a0;
    color: #a0a0a0;
    padding: 5px 10px 5px 10px; }
    .FilterComponentUI .FilterUI .UI--option:hover {
      color: white; }
  .FilterComponentUI .FilterUI .UI--heading {
    width: 100px;
    border: none; }
    .FilterComponentUI .FilterUI .UI--heading:hover {
      color: #a0a0a0; }

.FilterOption {
  width: 100%;
  float: left;
  padding: 10px;
  margin: 20px 0 20px 0; }
  .FilterOption .FilterSubmit {
    background-color: transparent;
    margin: 0 0 0 20px; }
  .FilterOption .Separator {
    padding: 10px;
    color: white;
    font-size: 1.2em; }

.Help .HelpContent {
  width: 100%;
  float: left; }
.Help .HelpInformation {
  margin: 100px 0 100px 0; }
.Help .ContentPart {
  width: 100%;
  float: left;
  color: white; }
  .Help .ContentPart .PartTitle {
    width: 100%;
    float: left;
    font-size: 1.4em;
    color: white;
    padding: 5px; }
  .Help .ContentPart .PartRow {
    width: 70%;
    float: left;
    font-size: 1.2em;
    color: #a0a0a0;
    margin: 0 0 0 25px;
    padding: 5px;
    padding-left: 0;
    border-bottom: 1px dotted white; }
    .Help .ContentPart .PartRow:hover {
      color: white; }
  .Help .ContentPart .Important {
    color: #EC7063; }
  .Help .ContentPart .InsideLink {
    color: #7daced; }
    .Help .ContentPart .InsideLink:hover {
      border-bottom: 1px dotted white; }
  .Help .ContentPart .TitleHighlight {
    border-bottom: 1px solid white; }
  .Help .ContentPart .ContentText {
    color: white;
    font-size: 1.2em;
    line-height: 1.4em;
    letter-spacing: 0.06em;
    margin: 20px 0 0 0;
    padding: 0 0 0 40px; }
  .Help .ContentPart .ContentList {
    margin: 20px 0 20px 0; }
  .Help .ContentPart .NextRight--15 {
    margin-right: 15px; }
  .Help .ContentPart .NextRight--10 {
    margin-right: 8px; }
  .Help .ContentPart .MenuHighlight {
    width: 100%;
    float: left;
    margin: 10px 0 10px 0; }
    .Help .ContentPart .MenuHighlight .MenuHighlight--label {
      display: inline-block;
      float: left;
      border-bottom: 1px dotted white; }
    .Help .ContentPart .MenuHighlight .MenuHighlight--menuDirection {
      color: #EC7063;
      margin: 0 10px 0 10px;
      border: none; }

/*# sourceMappingURL=style.css.map */
