/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: black; }

.FormRow {
  position: relative;
  width: 100%;
  float: left;
  margin: 0 0 15px 0; }
  .FormRow .FormRow--label {
    width: 40%;
    float: left; }
  .FormRow .FormRow--field {
    width: 50%;
    float: left; }
  .FormRow .FormRow--SubmitButton {
    display: block;
    width: 150px;
    border: none;
    padding: 5px; }
  .FormRow .FormError {
    position: absolute;
    top: -2px;
    right: 0;
    left: 0;
    width: 150px;
    padding: 5px 5px 5px 5px;
    text-align: center; }

.FormSeparator {
  width: 90%;
  float: left;
  padding: 5px 5px 5px 0;
  margin: 15px 0 30px 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

img {
  max-width: 100%;
  width: 100%; }

.Global {
  max-width: 1920px;
  min-width: 1280px;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px; }

.Container {
  width: 1200px;
  margin: 0 auto; }

.Global__Header {
  width: 100%;
  float: left;
  background-color: #303133; }

.MainNavigation__List {
  width: 100%;
  float: left; }

.MainNavigation__List--item {
  position: relative;
  display: inline;
  float: left; }
  .MainNavigation__List--item .MainNavigation__List--link {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #303133;
    font-size: 1.1em; }
    .MainNavigation__List--item .MainNavigation__List--link:hover {
      background-color: #ec7063; }

.MainNavigation__List--item:hover .InnerList {
  opacity: 1;
  top: 100%; }

.InnerList {
  opacity: 0;
  z-index: -1;
  width: 200px;
  position: absolute;
  top: -100%;
  left: 0;
  transition: opacity 0.5, top 0.5s;
  -webkit-transition: opacity 0.5s, width 0.5s, top 0.5s; }

.InstallBody {
  background: url(../../images/install-background.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-color: #303133; }

.InstallHeader {
  float: none;
  overflow: hidden; }

.Content {
  position: relative;
  height: 650px;
  overflow: hidden;
  margin-top: 50px; }

.InstallInformation {
  display: none;
  width: 600px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }
  .InstallInformation .InstallInformation--paragraph {
    width: 100%;
    margin: 0 0 15px 0;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    color: white; }
  .InstallInformation .InstallInformation--continueButton {
    width: 150px;
    float: right;
    display: block;
    border: 1px solid white;
    background-color: transparent;
    font-family: 'Open Sans Condensed', cursive;
    color: white;
    font-size: 1.5em;
    margin: 15px 0 0 0;
    padding: 10px;
    transition: background-color 0.4s, border 0.4s;
    -webkit-transition: background-color 0.4s, border 0.4s;
    -moz-transition: background-color 0.4s, border 0.4s;
    -o-transition: background-color 0.4s, border 0.4s; }
    .InstallInformation .InstallInformation--continueButton:active {
      background-color: #ec7063;
      border: 1px solid #ec7063; }
    .InstallInformation .InstallInformation--continueButton:hover {
      background-color: #ec7063;
      border: 1px solid #ec7063; }

.Install__Title {
  font-family: 'Dancing Script', cursive;
  font-size: 7em;
  text-align: center;
  color: white;
  margin: 50px 0 50px 0; }

.UninstalledMessage {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.8em; }

.InstallLink {
  width: 200px;
  display: block;
  padding: 10px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid white;
  font-size: 1.2em;
  transition: background-color 0.4s, border 0.4s;
  -webkit-transition: background-color 0.4s, border 0.4s;
  -moz-transition: background-color 0.4s, border 0.4s;
  -o-transition: background-color 0.4s, border 0.4s; }
  .InstallLink:active {
    background-color: #ec7063;
    border: 1px solid #ec7063; }
  .InstallLink:hover {
    background-color: #ec7063;
    border: 1px solid #ec7063; }

.InstallForm {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }
  .InstallForm .GlobalErrors {
    width: 90%;
    float: left; }
    .InstallForm .GlobalErrors .GlobalError {
      display: block;
      width: 100%;
      color: white;
      font-size: 1.2em;
      line-height: 1.2em;
      margin: 0 0 10px 0;
      padding: 5px 5px 5px 5px;
      border: 1px solid #ff3c2b; }
  .InstallForm .InstallLabel {
    color: white;
    padding: 5px;
    letter-spacing: 0.03em;
    font-size: 1.2em; }
  .InstallForm .InstallField {
    font-size: 1.2em;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    color: white;
    border: 1px solid white;
    border-radius: 3px; }
    .InstallForm .InstallField:focus {
      background-color: rgba(255, 255, 255, 0.3); }
  .InstallForm .InstallSubmit {
    float: right;
    font-family: 'Open Sans Condensed', cursive;
    font-size: 1.2em;
    color: white;
    text-align: center;
    background-color: transparent;
    margin: 15px 60px 0 0;
    padding: 10px;
    border: 1px solid white;
    transition: background-color 0.4s, border 0.4s;
    -webkit-transition: background-color 0.4s, border 0.4s;
    -moz-transition: background-color 0.4s, border 0.4s;
    -o-transition: background-color 0.4s, border 0.4s; }
    .InstallForm .InstallSubmit:active {
      background-color: #ec7063;
      border: 1px solid #ec7063; }
    .InstallForm .InstallSubmit:hover {
      background-color: #ec7063;
      border: 1px solid #ec7063; }
  .InstallForm .InstallError {
    width: 300px;
    color: white;
    left: 550px;
    top: 6px;
    font-size: 1.2em;
    border: 1px solid #ff3c2b; }
