{% extends "::layout.html.twig" %}

{% block header_navigation %}
    <nav class="Header__MainNavigation  Container">
        <ul class="MainNavigation__List">
            <li class="MainNavigation__List--item"><a href="" class="MainNavigation__List--link">WELCOME</a></li>
            <li class="MainNavigation__List--item  MainNavigation__List--InnerList">
                <a href="" class="MainNavigation__List--link">CREATE</a>

                <ul class="InnerList">
                    <li><a href="" class="MainNavigation__List--link  InnerList--link">TEST</a></li>
                    <li><a href="" class="MainNavigation__List--link  InnerList--link">TEST SUITE</a></li>
                </ul>
            </li>
            <li class="MainNavigation__List--item"><a href="" CLASS="MainNavigation__List--link">ADMINISTRATOR</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <div class="Content">
        {% block content_title %}{% endblock %}
        {% block main_content %}{% endblock %}
    </div>

{% endblock %}
