<script type="text/ng-template" id="absoluteInfoBox.html">
    <div class="AbsoluteInfoBox">
        <div class="Box">
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
            <label class="InfoLabel">whitepostmail@gmail.com</label>
        </div>
    </div>
</script>