<script type="text/ng-template" id="codeSuiteAnswer.html">

    <div class="Block  PlainTextBlock">
        <div class="FormRow">
            <p class="AnswerPreparation">
                Test solvers code goes here
            </p>

            <div class="BlockEvents">
                <label class="Event--title">{[{ block.blockType + ' block' }]}</label>
                <label ng-click="blockEvents.remove()" class="Event">Remove</label>
            </div>
        </div>
    </div>

</script>