{% extends '::layout.html.twig' %}

{% block content %}
    <div class="ContentElement">
        <script type="text/ng-template" id="createTest.html">
            <form action="" name="CreateTestForm" method="POST">

                <div class="FormRow">
                    <action-global-error></action-global-error>
                </div>

                <div class="FormRow">
                    <label for="test_name" class="FormRow--label  BasicLabel">Test name</label>
                    <input type="text" name="test_name" class="FormRow--field  BasicField" ng-model="test.test_name" required/>

                    <div class="FormError  BasicError  CreateUserError" ng-show="theForm.notExists('test_name')">
                        <p>Test name has to be provided</p>
                    </div>
                </div>

                <div class="FormRow">
                    <label for="test_name" class="FormRow--label  BasicLabel">Visibility</label>
                    <select ng-model="test.current_permission" ng-options="permission for permission in test.permission_items" class="BasicSelect"></select>
                </div>

                <div class="FormRow">

                    <div class="FormError  BasicError  CreateUserError"
                         ng-show="test.current_permission == 'restricted' && theForm.notEmptyArray(test.allowed_users)">
                        <p>If restriction is not public, at least one user has to be provided</p>
                    </div>

                    <div class="TestRestrictions" ng-show="test.current_permission == 'restricted'">
                        <div class="UserTable  UserListTable">
                            <label class="ListTable--label" ng-click="managment.addUser(user)" ng-repeat="user in available_users">{[{ user.username }]}</label>
                        </div>

                        <div class="UserTable  UserAllowedTable">
                            <label class="ListTable--label" ng-click="managment.removeUser(user)" ng-repeat="user in test.allowed_users">{[{ user.username }]}</label>
                        </div>
                    </div>

                </div>

                <div class="FormRow">
                    <label for="future_plans" class="FormRow--label  BasicLabel">Remarks</label>
                    <textarea name="remarks" class="FormRow--field  BasicField  BasicTextarea" ng-model="test.remarks"></textarea>
                </div>

                <div class="FormRow">
                    <action-submit></action-submit>
                   <!-- <input type="submit" value="Create test" class="FormRow--submitButton  BasicSubmitButton  CreateUserSubmitButton"
                           ng-click="test.submit($event)"/>
                    <action-awaiting></action-awaiting>-->
                </div>
            </form>

        </script>

        <div class="Toolbox">
            <h1 class="Toolbox--title">Toolbox<span class="Toolbox--icon  Icon--title"></span></h1>
        </div>

        <div class="Container  TestCreation">
            <h1 class="ContentMainTitle  TestCreation--title">Create test</h1>

            <div class="MainContent  ContentCentered">
                <h2 class="ContentSubTitle">Mandatory information</h2>
                <test-naming></test-naming>
            </div>
        </div>

        <div class="Properties">

        </div>
    </div>
{% endblock %}