{% extends '::layout.html.twig' %}

{% block content %}

    <div class="ContentElement">
        <div class="Container  TestCreation">
            <h1 class="ContentMainTitle  TestCreation--title">Create test</h1>

            <div class="MainContent  ContentCentered">
                <h2 class="ContentSubTitle">Mandatory information</h2>
                <test-naming></test-naming>
            </div>
        </div>
    </div>
{% endblock %}