/public_html/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/composer.phar
/public_html/bower_components/*
!/publc_html/bower_components/jquery/dist/jquery.min.js
!/publc_html/bower_components/angular/angular.min.js
/public_html/images/originali/*
/.idea
