<script type="text/ng-template" id="codeBlockSuite.html">
    <div class="Block CodeBlock">
        <div class="FormRow">
            <div class="AceEditor">

            </div>

            <div class="BlockEvents">
                <label class="Event--title">{[{ block.blockType + ' block' }]}</label>
                <label ng-click="blockEvents.remove()" class="Event">Remove</label>
            </div>
        </div>
    </div>
</script>