<script type="text/ng-template" id="question.codeQuestionBlock.html">
    <div class="Block CodeBlock">
        <div class="CodeHighlight  AceEditor">{[{ directiveData.data.data }]}</div>
    </div>
</script>