{% extends '::layout.html.twig' %}

{% block content %}
    <div class="ContentElement">
        <div class="Container  WorkspaceTemplate">
            <h1 class="ContentMainTitle">{{ model.getProperty('test-name') }}</h1>

            <div class="BuilderContent" workspace-builder
                 current-test-id="{{ model.getProperty('test-id') }}"
                 min-id="{{ model.getProperty('min') }}"
                 max-id="{{ model.getProperty('max') }}">

                <builder ng-if="builder.recompile"
                        current-test-id="{[{ currentTestId }]}"
                        min-id="{[{ minId }]}"
                        max-id="{[{ maxId }]}">
                </builder>
            </div>
        </div>
    </div>

{% endblock %}