{% extends "::install-layout.html.twig" %}

{% block content %}
    <div class="Container">
        <div class="InstallForm">
            <form action="{{ path('login_check') }}" method="POST">
                {% if error %}
                    <div class="GlobalErrors">
                        <label class="GlobalError">Netočno korisničko ime ili lozinka</label>
                    </div>
                {% endif %}

                <div class="FormRow">
                    <label for="username" class="FormRow--label  LoginLabel">Korisničko ime:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="FormRow--field  LoginField" />
                </div>

                <div class="FormRow">
                    <label for="password" class="FormRow--label  LoginLabel">Lozinka:</label>
                    <input type="password" id="password" name="_password" class="FormRow--field  LoginField"  />
                </div>

                <div id="FormRow">
                    <button type="submit" class="FormRow--SubmitButton  InstallSubmit">Suit up</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}