{% extends '::install-layout.html.twig' %}

{% block content %}
    <div class="Container">
        <h1 class="Install__Title  UninstalledMessage">
            Test Suit is not installed.<br>
            Please install the necessary tables and register as the first user.<br>
            When you install the tables and register the first administrator, this message will not show again.
        </h1>

        <a href="{{ path('app_signUp') }}" class="Install__Title  UninstalledMessage  InstallLink">Go to install</a>
    </div>
{% endblock %}