$mainColor:#303133;
$mainHoverColor: #EC7063;
$textFieldColor: #424242;
$errorColor:#ff3c2b;
$headerColor:#363748;
$contentHighlight: #6b6b6b;
$codeHighlight: #7f7f7f;

$blueSoft: #7daced;
$blueLight: #2C84EE;
$blueDark: #005AC1;
$greenLight: #5de253;
$grayLight: #a0a0a0;

$editorBackground: #939393;