<script type="text/ng-template" id="globalError.html">
    <div class="GlobalErrors" ng-model="globalErrors.errors" ng-repeat="error in globalErrors.errors" ng-show="globalErrors.show">
        <label class="GlobalError">{[{ error }]}</label>
    </div>
</script>