<script type="text/ng-template" id="help.html">
    <div class="Help">
        <section class="HelpContent">
            <div class="ContentPart">
                <a ng-click="help.toggle($event, 'introduction')" href="#" class="PartTitle">1. Introduction</a>
            </div>

            <div class="ContentPart">
                <h2 class="PartTitle">2. User managment</h2>

                <a ng-click="help.toggle($event, 'creating_users')" href="#" class="PartRow"><span class="NextRight--15">2.1</span> Creating users</a>
                <a ng-click="help.toggle($event, 'user_permissions')" href="#" class="PartRow"><span class="NextRight--15">2.2</span>  User permissions</a>
                <a ng-click="help.toggle($event, 'informational_fields')" href="#" class="PartRow"><span class="NextRight--15">2.3</span>  Informational fields</a>
                <a href="#" class="PartRow"><span class="NextRight--15">2.4</span>  Modifing users data <span class="Important">(Not yet functional)</span></a>
            </div>

            <div class="ContentPart">
                <h2 class="PartTitle">3. Test managment</h2>

                <a ng-click="help.toggle($event, 'creating_tests')" href="#" class="PartRow"><span class="NextRight--15">3.1</span>  Creating tests</a>
                <a ng-click="help.toggle($event, 'test_permissions')" href="#" class="PartRow"><span class="NextRight--15">3.2</span>  Test permissions</a>
                <a ng-click="help.toggle($event, 'managing_tests')" href="#" class="PartRow"><span class="NextRight--15">3.3</span>  Managing tests</a>
                <a ng-click="help.toggle($event, 'question_suit')" href="#" class="PartRow"><span class="NextRight--15">3.4</span>  Creating a question suit</a>
                <a href="#" class="PartRow"><span class="NextRight--15">3.5</span>  Blocks</a>
                <a href="#" class="PartRow"><span class="NextRight--15">3.6</span>  How data is saved</a>
                <a href="#" class="PartRow"><span class="NextRight--15">3.7</span>  Modifing question suit</a>
                <a href="#" class="PartRow"><span class="NextRight--15">3.8</span>  Solving tests <span class="Important">(Not yet functional)</span></a>
            </div>

            <div class="ContentPart">
                <h2 class="PartTitle">4. Practical "How to"</h2>

                <div class="ContentPart">
                    <a ng-click="help.toggle($event, 'complete_test')" href="#" class="PartRow"><span class="NextRight--15">4.1</span>  How to create a complete test...</a>
                </div>
            </div>
        </section>

        <section ng-if="help.introduction" class="HelpContent  HelpInformation">
            <div class="ContentPart">
                <h2 class="PartTitle  TitleHighlight"><span class="NextRight--15">1.</span> Introduction</h2>
            </div>

            <div class="ContentPart">
                <p class="ContentText">
                    I applied for a time ago and after completing the assignaments that they sent me,
                    I was asked to go to their company for the final test. When I arrived there, they sat me down in front of
                    a laptop and gave me 25 question. Those 25 questions where versatile. Some were theoretical and text had to be
                    written but more of them were coding questions and code had to be written. The problem was, the entire test was
                    written in Google Documents which is actually plain old Notepad.
                </p>

                <p class="ContentText">
                    Writing code in that format was a nightmare so I
                    decided to make a web application that could be explained as an IDE for writing tests. That way, all companies could
                    have a uniformed web application with which they could test the knowledge of their job applicants.
                </p>

                <p class="ContentText">
                    Test suit allows you to create questions in different formats like text, select box, checkbox, radio buttons or code
                    segments, with the set of questions forming a test. It also gives you the ability to assign a test to different users which have different
                    privileges. A user could be created with a sole purpouse of solving one test and nothing else.
                </p>

                <p class="ContentText">
                    In order to find out more, please read the entire help section. Don't worry, it's not long.
                </p>
            </div>
        </section>

        <section ng-if="help.creating_users" class="HelpContent  HelpInformation">
            <div class="ContentPart">
                <h2 class="PartTitle  TitleHighlight"><span class="NextRight--10">2.1</span> Creating users</h2>
            </div>

            <div class="ContentPart">

                <p class="ContentText">
                    When you installed Test suit, first user is already created with <span class="Improtant">user manager</span>
                    permission. With that permission, you can create/edit users and create/solve tests. For more on user
                    permissions, go to section
                    <a ng-click="help.toggle($event, 'user_permissions')" href="#" class="Important  InsideLink">2.2 User permissions</a>
                </p>

                <div class="ContentText">
                    To create a new user, go to...
                    <div class="MenuHighlight">
                        <label class="MenuHighlight--label">User managment</label>
                        <label class="MenuHighlight--label  MenuHighlight--menuDirection">></label>
                        <label class="MenuHighlight--label">Create user</label>
                    </div>
                </div>

                <div class="ContentText">
                    There are a lot of fields beacuse there is a lot of information that could describe the skills
                    a particular developer has. The mandatory ones are
                    <span class="Important">name, </span>
                    <span class="Important">lastname, </span>
                    <span class="Important">username, </span>
                    <span class="Important">password</span>
                    and <span class="Important">user permissions</span>.

                </div>
            </div>
        </section>

        <section ng-if="help.user_permissions" class="HelpContent  HelpInformation">
            <div class="ContentPart">
                <h2 class="PartTitle  TitleHighlight"><span class="NextRight--10">2.2</span> User permissions</h2>
            </div>

            <div class="ContentPart">
                <p class="ContentText">
                    Tests are assigned to users. Only users that have been assigned to solve a particular test, can
                    solve that test. Therefore, users have to have certain permissions. In a practical example, let's say
                    a developer has applied to one of your job postings. So, you create a new user with <span>test solver</span>
                    permission with which he can only solve a test that you assign to him. If that wasn't so, that developer could
                    just modify that test, delete a question that he doesn't know or just create a new question that he knows.
                    That is not a desirable situation. User permissions prevent users from doing things that they are not supposed
                    to do. For more information on creating tests, go to section
                    <a href="#" ng-click="help.toggle($event, 'creating_tests')" class="Important  InsideLink">3.1 Creating tests</a>
                </p>

                <div class="ContentText">
                    There are 3 user permissions:
                    <ul class="ContentList">
                        <li><span class="Important">1.</span> Test solver</li>
                        <li><span class="Important">2.</span> Test creator</li>
                        <li><span class="Important">3.</span> User manager</li>
                    </ul>
                </div>

                <p class="ContentText">
                    <span class="Important">Test solver</span> can only solve test. When you create a new user with this permission,
                    think of him as a job applicant. This user could only solve a test that you assign to him.
                </p>

                <p class="ContentText">
                    <span class="Important">Test creator</span> This user can solve and manage tests but cannot manage users.
                </p>

                <p class="ContentText">
                    <span class="Important">User manager</span> This permission is the most allowing. User created with this permission
                    can manage tests (create/solve) and manage users (create/edit). User that was creating when you installed Test suit
                    has this permission.
                </p>

                <p class="ContentText">
                    Choosing a permission a user can have is up to you. If there is a job applicant that you wish to test, best permission
                    for him is test solver. If you have a junior developer in you company that wants to create tests, but you don't want him to manage
                    users, best permission for him is test creator. If you want someone to help you with user managment, best permission is
                    user manager permission but it is better to have only a couple of user managers in test suit.
                </p>
            </div>
        </section>

        <section ng-if="help.informational_fields" class="HelpContent  HelpInformation">
            <div class="ContentPart">
                <h2 class="PartTitle  TitleHighlight"><span class="NextRight--10">2.2</span> Informational fields</h2>
            </div>

            <div class="ContentPart">
                <p class="ContentText">
                    A user is not just a user, he/she is a developer. A developer has a wide range of skills, experise and
                    knowledge of different tools. It is important that a company knows its job applicants. Therefore, when
                    you create a new user, it is important to fill all the fields like
                    <span class="Important">programming languages</span>, <span class="Important">future plans</span> etc...
                </p>

                <p class="ContentText">
                    But, they are optional, so you can leave them blank.
                </p>
            </div>
        </section>

        <section ng-if="help.creating_tests" class="HelpContent  HelpInformation">
            <div class="ContentPart">
                <h2 class="PartTitle  TitleHighlight"><span class="NextRight--10">3.1</span> Creating tests</h2>
            </div>

            <div class="ContentPart">
                <div class="ContentText">
                    To create a new test, go to...
                    <div class="MenuHighlight">
                        <label class="MenuHighlight--label">Test managment</label>
                        <label class="MenuHighlight--label  MenuHighlight--menuDirection">></label>
                        <label class="MenuHighlight--label">Create test</label>
                    </div>
                </div>

                <div class="ContentText">
                    After you created a test, you will be shown a listing of tests, with your newly created test
                    on the top. When you click on a test, you
                    will have a set of information as well as a set of options.
                </div>

                <p class="ContentText">
                   <span class="Important">Change metadata </span>let's you change the name of the test, remarks or test permissions.
                    <span class="Important">Workspace</span> gives you an IDE-like environment for creating the test.
                    <span class="Important">Delete</span> let's you delete a test
                </p>

                <div class="ContentText">
                    Creating tests is straightforward, expect the <span class="Important">permissions</span> field. If you wish to know more
                    about test permissions, go to section
                    <a ng-click="help.toggle($event, 'test_permissions')" href="#" class="Important  InsideLink">3.2 Test permissions</a>
                </div>
            </div>
        </section>

        <section ng-if="help.test_permissions" class="HelpContent  HelpInformation">
            <div class="ContentPart">
                <h2 class="PartTitle  TitleHighlight"><span class="NextRight--10">3.2</span> Test permissions</h2>
            </div>

            <div class="ContentPart">
                <p class="ContentText">
                    Test permissions gives you the ability to assign a test to only certain users or make it public, which means that
                    all users can solve a test.
                </p>

                <p class="ContentText">
                    If you choose <span class="Important">restricted</span>, you will be prompted with a filter of users for you to choose.
                    If choose restricted but don't choose any users for this test, permission is <span class="Important">public</span>
                    by default, so keep that in mind when creating tests.
                </p>
            </div>
        </section>

        <section ng-if="help.managing_tests" class="HelpContent  HelpInformation">
            <div class="ContentPart">
                <h2 class="PartTitle  TitleHighlight"><span class="NextRight--10">3.3</span> Managing tests</h2>
            </div>

            <div class="ContentPart">
                <div class="ContentText">
                    After you created a test, the test can be viewed in

                    <div class="MenuHighlight">
                        <label class="MenuHighlight--label">Test managment</label>
                        <label class="MenuHighlight--label  MenuHighlight--menuDirection">></label>
                        <label class="MenuHighlight--label">Manage tests</label>
                    </div>
                </div>

                <p class="ContentText">
                    This will show you a list of all tests that you created. After you choose your test, click on it.
                </p>

                <p class="ContentText">

                </p>
            </div>
        </section>

        <section ng-if="help.question_suit" class="HelpContent  HelpInformation">
            <div class="ContentPart">
                <h2 class="PartTitle  TitleHighlight"><span class="NextRight--10">3.4</span> Creating a question suit</h2>
            </div>

            <div class="ContentPart">
                <div class="ContentText">
                    When you created a test, the test can be viewed in

                    <div class="MenuHighlight">
                        <label class="MenuHighlight--label">Test managment</label>
                        <label class="MenuHighlight--label  MenuHighlight--menuDirection">></label>
                        <label class="MenuHighlight--label">Manage tests</label>
                    </div>
                </div>

                <p class="ContentText">
                    After you choose a test to manage, click on it and at the bottom of the test box, go to <span class="Important">Workspace</span>.
                </p>

                <p class="ContentText">
                    You will, then be shown an IDE-like environment and a <span class="Important">Block menu</span> with
                    <span class="Important">Question blocks</span> and <span class="Important">Answer blocks</span>. In the next section
                    <a ng-click="help.toggle($event, 'question_blocks')" href="#" class="Important InsideLink">3.4 Question blocks</a> you will find out how to use question block to create a question
                </p>

            </div>
        </section>

        <section ng-if="help.question_blocks" class="HelpContent  HelpInformation">
            <div class="ContentPart">
                <h2 class="PartTitle  TitleHighlight"><span class="NextRight--10">3.5</span>Blocks</h2>
            </div>

            <div class="ContentPart">
                <p class="ContentText">
                    There are two type of blocks: <span class="Important">Question blocks</span> and <span class="Important">Answer blocks</span>.
                </p>

                <p class="ContentText">
                    Question blocks are editable which means that you can write text into a <span class="Improtant">Plain text block</span>
                    and write code into a <span class="Important">Code block</span>.
                </p>
            </div>
        </section>


        <section ng-if="help.complete_test" class="HelpContent  HelpInformation">
            <div class="ContentPart">
                <h2 class="PartTitle  TitleHighlight"><span class="NextRight--10">4.1</span>How to create a complete restricted test...</h2>
            </div>

            <div class="ContentPart">
                <div class="ContentText">
                    <ul class="ContentList">
                        <li><span class="Important"></span> Go to Test Managment - Create test</li>
                    </ul>
                </div>
            </div>

            <div class="ContentPart">
                <p class="ContentText">
                    Write in the name of the test and possible remarks. Then, click on <span class="Important  InsideLink">Restricted</span>.
                    Then, search for users that this test is going to be for, and assign them to the test. Create the test
                </p>

                <p class="ContentText">
                    You will be shifted to a list of tests, with the latest created on top. Click on it and then click
                    <span class="Important  InsideLink">Workspace</span>.
                </p>

                <p class="ContentText">
                    Workspace is divided into <span class="Important">question</span> and <span class="Important">answer</span> blocks. When someone
                    solves the test, both blocks will be displayed differently. Question blocks will be informational only while answer blocks
                    will require from the user to make an input, an answer. In the workspace, question blocks are modifiable while some answer blocks
                    are not. For example, if you put text plain text question block, you can write a question in it but if you put a plain text
                    answer block, it will only display a box on a place where the test solver will provide his answer.
                </p>

                <p class="ContentText">
                    After you finished the test, go to <span class="Important InsideLink">Test Managment - Manage tests again.</span>.
                    Find the test that you created, and click <span class="Important  InsideLink">Finish</span>
                </p>

                <p class="ContentText">
                    And that is it. Users that you assigned the test to will see that test in the <span class="Important  InsideLink">Assigned tests</span>
                    section.
                </p>
            </div>
        </section>
    </div>
</script>