<script type="text/ng-template" id="help.html">
    <div class="Help">
        <section class="HelpContent">
            <div class="ContentPart">
                <h2 class="PartTitle">1. Introduction</h2>
            </div>

            <div class="ContentPart">
                <h2 class="PartTitle">2. User managment</h2>

                <a href="#" class="PartRow">Creating users</a>
                <a href="#" class="PartRow">Informational fields</a>
                <a href="#" class="PartRow">User permissions</a>
                <a href="#" class="PartRow">Modifing users data <span class="Important">(Not yet functional)</span></a>
            </div>

            <div class="ContentPart">
                <h2 class="PartTitle">1. Test managment</h2>

                <a href="#" class="PartRow">Creating tests</a>
                <a href="#" class="PartRow">Test permissions</a>
                <a href="#" class="PartRow">Creating question suit</a>
                <a href="#" class="PartRow">Question blocks</a>
                <a href="#" class="PartRow">How data is saved</a>
                <a href="#" class="PartRow">Modifing question suit</a>
            </div>
        </section>
    </div>
</script>