<script type="text/ng-template" id="testListing.html">
    <div class="MainContent  TestListManagment">
        <h2 class="ContentSubTitle">Tests</h2>
        <listing-component
                ng-if="directiveData.loaded"
                listing="directiveData.tests"
                directive-type="{[{ directiveData.directiveType }]}"
                show-load-more="directiveData.loadMore">
        </listing-component>
    </div>
</script>