<script type="text/ng-template" id="answer.textQuestionBlock.html">
    <div class="Block TextBlock">
        <div class="BlockData">
            <p>Type in your answer...</p>
            <div class="TextAnswerBlock  FormRow">
                <textarea class="FormRow--field  BasicField  BasicTextarea" ng-model="data.answer.answer"></textarea>
            </div>
        </div>
    </div>
</script>