<script type="text/ng-template" id="solvingWorkspace.html">
    <div class="WorkspaceTemplate">
        <h1 class="ContentMainTitle">{[{ workspace.testName }]}</h1>

        <div class="BuilderContent" workspace-builder test-control-id="{[{ testControlId }]}">

            <builder-creator
                    ng-if="builder.builderCreator"
                    shepard="dataShepard"
                    current-test-id="{[{ currentTestId }]}"
                    range-iterator="controller.rangeIterator">
            </builder-creator>
        </div>
    </div>
</script>