<script type="text/ng-template" id="solvingWorkspace.html">
    <div class="WorkspaceTemplate">
        <h1 class="ContentMainTitle">{[{ workspace.testName }]}</h1>

        <p ng-if="workspace.testFinished == true" class="TestFinished">Test is finished. Contact your test creator to review the results</p>

        <div ng-if="workspace.testFinished == false" class="BuilderContent" workspace-solving-builder test-control-id="{[{ testControlId }]}">
            <test-solver
                    ng-if="controller.initTestSolver"
                    test-control-id="{[{ testControlId }]}"
                    answer-control-id="{[{ controller.answerControlId }]}"
                    test-range="controller.rangeIterator">
            </test-solver>
        </div>
    </div>
</script>