{% extends "::install-layout.html.twig" %}

{% block title %}Test suit | Installation{% endblock %}

{% block content %}
    <div class="Container">
        <div class="FormPosition  InstallForm" ng-controller="inst.InstallFormCtrl">
            {{ include('submit-directive.html.twig') }}
            <form name="insForm" action="" method="POST" novalidate="novalidate">

                <div class="FormRow">
                    <div class="GlobalErrors" ng-repeat="error in globalErrors.errors" ng-show="globalErrors.show">
                        <label class="GlobalError">{[{ error }]}</label>
                    </div>
                </div>

                <div class="FormRow">
                    <label name="name" class="FormRow--label  BasicLabel  InstallLabel">Name</label>
                    <input type="text" name="name" class="FormRow--field  BasicField  InstallField" ng-model="administrator.name" required="">

                    <div class="FormError  BasicError" ng-show="theForm.notExists('name')">
                        <p>Name has to be provided</p>
                    </div>

                </div>

                <div class="FormRow">
                    <label class="FormRow--label  BasicLabel  InstallLabel" for="lastname">Lastname</label>
                    <input type="text" name="lastname" ng-model="administrator.lastname" class="FormRow--field  BasicField  InstallField" required>

                    <div class="FormError  BasicError" ng-show="theForm.notExists('lastname')">
                        <p>Lastname has to be provided</p>
                    </div>
                </div>

                <div class="FormRow">
                    <label class="FormRow--label  BasicLabel  InstallLabel" for="username">Username</label>
                    <input type="email" name="username" ng-model="administrator.username" class="FormRow--field  BasicField  InstallField" placeholder="...it has to be an email" required>

                    <div class="FormError  BasicError" ng-show="theForm.notExists('username') || theForm.notEmail('username')">
                        <p>A valid email has to be provided</p>
                    </div>
                </div>

                <div class="FormRow">
                    <label class="FormRow--label  BasicLabel  InstallLabel" for="password">Password</label>

                    <input type="password" name="password" class="FormRow--field  BasicField  InstallField" ng-model="administrator.userPassword" ng-minlength="8" required>

                    <div class="FormError  BasicError  InstallError" ng-show="theForm.notExists('password') || theForm.notMinLength('password')">
                        <p>Password has to have at least 8 characters</p>
                    </div>
                </div>

                <div class="FormRow">
                    <label class="FormRow--label  BasicLabel  InstallLabel" for="pass_repeat">Confirm password</label>
                    <input type="password" class="FormRow--field  BasicField  InstallField" name="pass_repeat" ng-model="administrator.userPassRepeat" ng-minlength="8" required>

                    <div class="FormError  BasicError  InstallError"
                         ng-show="theForm.notExists('pass_repeat') || theForm.notEquals('password', 'pass_repeat')">
                        <p>Given passwords have to match</p>
                    </div>
                </div>

                <div class="FormRow">
                    <action-submit init-key="action-install"></action-submit>
                </div>

            </form>
        </div>
    </div>
{% endblock %}