{% extends "::install-layout.html.twig" %}

{% block content %}
    <div class="Container">
        <div class="InstallInformation" ng-controller="inst.informationCtrl">
            <p class="InstallInformation--paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non sollicitudin dui.
                Vivamus tempus ex nisl, nec gravida massa mattis facilisis. Nullam dapibus lorem in blandit
                finibus. Morbi arcu augue, tincidunt vitae tristique a, lacinia vitae arcu. Integer vel
                molestie ipsum, ac pellentesque nibh.
            </p>

            <p class="InstallInformation--paragraph">
                In hac habitasse platea dictumst. Quisque semper est
                ut odio mollis tempus. Sed ut mattis ante. Mauris quis sollicitudin sapien. Nullam augue
                quam, suscipit at felis ac, sodales pulvinar justo. Sed ante ex, pulvinar quis porta sit
                amet, mollis sed nunc. In lacinia eu sem laoreet fringilla. In eget lacus eu turpis dapibus
                scelerisque.
            </p>

            <button class="InstallInformation--continueButton" ng-click="showForm()">Continue</button>
        </div>

        <div class="FormPosition  InstallForm" ng-controller="inst.InstallFormCtrl">
            <form name="insForm" action="" method="POST" novalidate="novalidate">

                <div class="FormRow">
                    <div class="GlobalErrors" ng-repeat="error in globalErrors.errors" ng-show="globalErrors.show">
                        <label class="GlobalError">{[{ error }]}</label>
                    </div>
                </div>

                <div class="FormRow">
                    <label name="name" class="FormRow--label  BasicLabel  InstallLabel">Name</label>
                    <input type="text" name="name" class="FormRow--field  BasicField  InstallField" ng-model="administrator.name" required="">

                    <div class="FormError  BasicError" ng-show="theForm.notExists('name')">
                        <p>Name has to be provided</p>
                    </div>

                </div>

                <div class="FormRow">
                    <label class="FormRow--label  BasicLabel  InstallLabel" for="lastname">Lastname</label>
                    <input type="text" name="lastname" ng-model="administrator.lastname" class="FormRow--field  BasicField  InstallField" required>

                    <div class="FormError  BasicError" ng-show="theForm.notExists('lastname')">
                        <p>Lastname has to be provided</p>
                    </div>
                </div>

                <div class="FormRow">
                    <label class="FormRow--label  BasicLabel  InstallLabel" for="username">Username</label>
                    <input type="email" name="username" ng-model="administrator.username" class="FormRow--field  BasicField  InstallField" placeholder="...it has to be an email" required>

                    <div class="FormError  BasicError" ng-show="theForm.notExists('username') || theForm.notEmail('username')">
                        <p>A valid email has to be provided</p>
                    </div>
                </div>

                <div class="FormRow">
                    <label class="FormRow--label  BasicLabel  InstallLabel" for="password">Password</label>

                    <input type="password" name="password" class="FormRow--field  BasicField  InstallField" ng-model="administrator.userPassword" ng-minlength="8" required>

                    <div class="FormError  BasicError" ng-show="theForm.notExists('password') || theForm.notMinLength('password')">
                        <p>Password has to have at least 8 characters</p>
                    </div>
                </div>

                <div class="FormRow">
                    <label class="FormRow--label  BasicLabel  InstallLabel" for="pass_repeat">Confirm password</label>
                    <input type="password" class="FormRow--field  BasicField  InstallField" name="pass_repeat" ng-model="administrator.userPassRepeat" ng-minlength="8" required>

                    <div class="FormError  BasicError"
                         ng-show="theForm.notExists('pass_repeat') || theForm.notEquals('password', 'pass_repeat')">
                        <p>Given passwords have to match</p>
                    </div>
                </div>

                <div class="FormRow">
                    <input type="submit" value="Sign up" class="FormRow--SubmitButton  BasicSubmitButton  InstallSubmit"
                           ng-click="install.submit($event)"
                           ng-model="process.installed"
                           ng-show="process.installed == false && process.installing == false"/>

                    <process-ui-installing installing="{[{ process.installing }]}"
                                           installed="{[{ process.installed }]}"></process-ui-installing>
                    <process-ui-installed installing="{[{ process.installing }]}" installed="{[{ process.installed }]}"
                                          countdown="10"></process-ui-installed>
                </div>

            </form>
        </div>
    </div>
{% endblock %}