app_authorized_home:
    path:     /
    defaults: { _controller: AppAuthorizedBundle:Home:home }
    methods: [GET]

app_authorized_saveUser:
    path: /user-managment/save-user
    defaults: { _controller: AppAuthorizedBundle:User:saveUser }
    methods: [POST]

app_authorized_allUsers:
    path: /user-managment/user-list
    defaults: { _controller: AppAuthorizedBundle:User:userListing }
    methods: [POST]

app_authorized_userListPaginated:
    path: /user-managment/user-list-paginated
    defaults: { _controller: AppAuthorizedBundle:User:userPaginated }
    methods: [POST]

# scheduled for removal
app_authorized_userInfo:
    path: /user-managment/user-info
    defaults: { _controller: AppAuthorizedBundle:User:userInfo }
    methods: [POST]

app_authorized_userFilter:
    path: /user-managment/user-filter
    defaults: { _controller: AppAuthorizedBundle:User:filter }
    methods: [POST]

# ajax
app_authorized_createTest:
    path: /test-managment/create-test
    defaults: { _controller: AppAuthorizedBundle:Test:createTest }
    methods: [POST]

app_authorized_deleteTest:
    path: /test-managment/delete-test
    defaults: { _controller: AppAuthorizedBundle:Test:deleteTest }
    methods: [POST]

app_authorized_modifyTest:
    path: /test-managment/modify-test
    defaults: { _controller: AppAuthorizedBundle:Test:modifyTest }
    methods: [POST]

app_authorized_saveTest:
    path: /test-managment/save-test/{testControlId}
    defaults: { _controller: AppAuthorizedBundle:Workspace:saveTest }
    methods: [POST]
    requirements:
        testControlId: \d+

app_authorized_saveTest:
    path: /test-managment/save-test/{testControlId}
    defaults: { _controller: AppAuthorizedBundle:Workspace:saveTest }
    methods: [POST]
    requirements:
        testControlId: \d+

app_authorized_finishTest:
    path: /test-managment/finish-test
    defaults: { _controller: AppAuthorizedBundle:Workspace:finishTest }
    methods: [POST]

app_authorized_updateTest:
    path: /test-managment/update-test
    defaults: { _controller: AppAuthorizedBundle:Workspace:updateTest }
    methods: [POST]

app_authorized_deleteQuestion:
    path: /test-managment/delete-question
    defaults: { _controller: AppAuthorizedBundle:Workspace:deleteQuestion }
    methods: [POST]

app_authorized_getTest:
    path: /test-managment/get-test
    defaults: { _controller: AppAuthorizedBundle:Workspace:getTest }
    methods: [POST]

app_authorized_getPermissions:
    path: /test-managment/get-test-permissions
    defaults: { _controller: AppAuthorizedBundle:Test:getTestPermissions }
    methods: [POST]

app_authorized_getTestsBasic:
    path: /test-managment/get-tests-basic
    defaults: { _controller: AppAuthorizedBundle:Test:getTestsBasic }
    methods: [POST]

app_authorized_getTestBasic:
    path: /test-managment/get-test-basic
    defaults: { _controller: AppAuthorizedBundle:Test:getTestBasic }
    methods: [POST]

app_authorized_workspaceData:
    path: /test-managment/workspace-data
    defaults: { _controller: AppAuthorizedBundle:Workspace:workspaceData }
    methods: [POST]

app_authorized_getPermittedUsers:
    path: /test-managment/get-permitted-users
    defaults: { _controller: AppAuthorizedBundle:Test:getPermittedUsers }
    methods: [POST]

