app_authorized_home:
    path:     /
    defaults: { _controller: AppAuthorizedBundle:Home:home }
    methods: [GET]

# ajax
app_authorized_saveUser:
    path: /user-managment/save-user
    defaults: { _controller: AppAuthorizedBundle:User:saveUser }
    methods: [POST]

app_authorized_allUsers:
    path: /user-managment/user-list
    defaults: { _controller: AppAuthorizedBundle:User:userListing }
    methods: [POST]

# scheduled for removal
app_authorized_userInfo:
    path: /user-managment/user-info
    defaults: { _controller: AppAuthorizedBundle:User:userInfo }
    methods: [POST]

# ajax
app_authorized_createTest:
    path: /test-managment/create-test
    defaults: { _controller: AppAuthorizedBundle:Test:createTest }
    methods: [POST]

app_authorized_deleteTest:
    path: /test-managment/delete-test
    defaults: { _controller: AppAuthorizedBundle:Test:deleteTest }
    methods: [POST]

app_authorized_modifyTest:
    path: /test-managment/modify-test
    defaults: { _controller: AppAuthorizedBundle:Test:modifyTest }
    methods: [POST]

app_authorized_workspaceTemplate:
    path: /test-managment/create-test/{testName}/{testId}
    defaults: { _controller: AppAuthorizedBundle:Workspace:workspaceTemplate }
    methods: [GET]
    requirements:
        testId: \d+

app_authorized_workspaceModifyTemplate:
    path: /test-managment/modify-test/{testName}/{testId}
    defaults: { _controller: AppAuthorizedBundle:Workspace:workspaceModifyTemplate }
    methods: [GET]
    requirements:
        testId: \d+

app_authorized_saveTest:
    path: /test-managment/save-test/{testControlId}
    defaults: { _controller: AppAuthorizedBundle:Workspace:saveTest }
    methods: [POST]
    requirements:
        testControlId: \d+


app_authorized_getTest:
    path: /test-managment/get-test
    defaults: { _controller: AppAuthorizedBundle:Workspace:getTest }
    methods: [POST]

app_authorized_getTestsBasic:
    path: /test-managment/get-tests-basic
    defaults: { _controller: AppAuthorizedBundle:Test:getTestsBasic }
    methods: [POST]

app_authorized_getTestBasic:
    path: /test-managment/get-test-basic
    defaults: { _controller: AppAuthorizedBundle:Test:getTestBasic }
    methods: [POST]

