app_authorized_home:
    path:     /
    defaults: { _controller: AppAuthorizedBundle:Home:home }
    methods: [GET]

# ajax
app_authorized_createUserGet:
    path: /create-user
    defaults: { _controller: AppAuthorizedBundle:User:userTemplate }
    methods: [GET]

# ajax
app_authorized_saveUser:
    path: /save-user
    defaults: { _controller: AppAuthorizedBundle:User:saveUser }
    methods: [POST]

# scheduled for removal
app_authorized_userManagment:
    path: /user-managment
    defaults: { _controller: AppAuthorizedBundle:User:userManagmentTemplate }
    methods: [GET]

# scheduled for removal
app_authorized_allUsers:
    path: /user-managment/user-list
    defaults: { _controller: AppAuthorizedBundle:User:userListing }
    methods: [POST]

# scheduled for removal
app_authorized_userInfo:
    path: /user-managment/user-info
    defaults: { _controller: AppAuthorizedBundle:User:userInfo }
    methods: [POST]

app_authorized_createTestTemplate:
    path: /create-test
    defaults: { _controller: AppAuthorizedBundle:Test:createTestTemplate }
    methods: [GET]

# ajax
app_authorized_createTest:
    path: /create-test
    defaults: { _controller: AppAuthorizedBundle:Test:createTest }
    methods: [POST]

app_authorized_workspaceTemplate:
    path: /create-test/{testName}/{testId}
    defaults: { _controller: AppAuthorizedBundle:Workspace:workspaceTemplate }
    methods: [GET]
    requirements:
        testId: \d+

app_authorized_saveTest:
    path: /save-test/{testControlId}
    defaults: { _controller: AppAuthorizedBundle:Workspace:saveTest }
    methods: [POST]
    requirements:
        testControlId: \d+


app_authorized_getTest:
    path: /get-test
    defaults: { _controller: AppAuthorizedBundle:Workspace:getTest }
    methods: [POST]