{% extends '::layout.html.twig' %}

{% block content %}

    <div class="ContentElement">
        <div class="Container">
            <h1 class="ContentMainTitle">Managment menu</h1>
                <managment-menu></managment-menu>
        </div>
    </div>

{% endblock %}