.ContentSubTitle {
  color: white;
}

.CreateTest {

  .PermissionType {
    width:120px;
    float:left;

    margin-right:5px;

    &:hover {
      cursor: pointer;
    }
  }

  .PermissionHighlight {
    background-color: $mainHoverColor;
    color:white;
    border:1px solid $mainHoverColor;
  }

  .Restricted {
    width:640px;

    margin:20px 0 20px 0;
    padding:15px;

    border:1px solid $blueLight;
  }

  .FilterComponentUI {
    padding:0;
    border:none;
  }
}