.UserManagment {
}

.ContentElement {
  .ContentMainTitle {
    position:relative;
    color:white;
  }
}

.UserManagmentMain {

  .UserExpandable {
    position:relative;
    overflow:hidden;
    display:block;
    width:100%;

    float:left;

    margin:0 0 10px 0;

    border:1px solid white;

  }

  .ExpandableClick {
    width:100%;
    height:46px;
    float:left;
    display:block;

    padding:15px;

    @include transition(background-color 0.2s);

    .Expandable {
      display:block;
      float:left;
      color:white;
    }

    .Expandable--name {
      margin:0 5px 0 0;
    }

    .Expandable--username {
      float:right;
    }

    &:hover {
      cursor:pointer !important;
      background-color: $blueLight !important;
    }
  }
}

.UserManagment--info {
  position:absolute;
  top:46px; left:0;

  width:100%;
  float:left;

  padding:10px;

  .InfoSection {
    width:100%;
    float:left;

    margin:10px 0 10px 0;


    .InfoSection--title {
      width:100%;
      float:left;

      padding:5px 0 5px 0;

      color:white;
      border-bottom:1px solid white;
    }

    .InfoSection--text {
      width:100%;
      float:left;
      padding:10px;

      color:white;
    }
  }
}