.MainContent {
  padding:50px 0 0 0;
}

.WorkspaceTemplate {

  .BuilderContent {
    width:100%;
    float:left;

    margin:50px 0 50px 0;
  }

  .Workspace {
  }
}

.Builder, .TestSolver {
  width:800px;
  margin:0 auto;

  .BuilderMenu {
    width:100%;
    float:left;
    margin-bottom:100px;

    border-bottom:1px dotted white;
  }

  .Blocks {
    width:50%;
    float:left;

    .Blocks--title {
      position:relative;
      color:white;
      font-size:1.2em;
      padding:10px 0 10px 40px;

      margin-bottom:20px;


      .Block--icon {
        display:block;
        position:absolute;
        top:7px; left:0;
        width:25px;
        height:25px;
      }

      .Question--icon {
        background: url(../images/icons/question-block.png) no-repeat;
        @include prefix(background-size, 100% 100%);
      }

      .Answer--icon {
        background: url(../images/icons/answer-block.png) no-repeat;
        @include prefix(background-size, 100% 100%);
      }
    }

    .BlockType {
      width:100px;
      height:100px;
      float:left;
      border:1px solid white;
      color:white;

      margin:0 10px 10px 0;

      @include transition(background-color 0.2s);

      &:hover {
        cursor: pointer;
        background-color: $blueLight;
      }

      .ContentCentering {
        display:block;

        padding:5px;
        margin-top:10px;

        font-size:1.2em;
        text-align: center;
      }
    }
  }

  .ChoiceBlock {
    width:100%;
    float:left;

    margin:100px 0 10px 0;

    .TestNumber {
      display:block;
      padding:8px;
      float:left;

      font-size:1.8em;
      color:$mainHoverColor;

      margin-right:25px;
    }

    .Choice--button {
      width:200px;
      float:left;
      padding:10px;

      border:1px solid white;
      background-color: transparent;
      font-family: "Open Sans Condensed", sans-serif;
      font-size:1.2em;
      color:white;

      @include transition(background-color 0.3s);

      &:hover {
        cursor:pointer;
        background-color: $blueLight;
      }
    }

    .Delete:hover {
      &:hover {
        cursor:pointer;
        background-color: $mainHoverColor;
      }
    }
  }

  .BuildMenu--title {
    color:white;
  }
}

.SuitBlocks {
  width:800px;
  margin:0 auto;

  .Block {
    width:100%;
    float:left;

    margin-bottom:50px;

    &:hover .BlockEvents {
      @include prefix(opacity, 1);
    }
  }

  .BlockEvents {
    width:150px;
    position:absolute;
    top:0; left:-150px;


    .Event--title {
      display:block;
      color:white;
      font-size:1.2em;
      padding:5px 0 5px 0;
      border-bottom:1px dotted white;

    }
    //@include transition(opacity 0.3s);

    .Event {
      color:white;
      display:block;
      width:100%;
      padding:5px 0 5px 0;
      font-size:1.2em;

      @include transition(background-color 0.3s, color 0.3s);

      &:hover {
        cursor: pointer;
        background-color: $blueLight;
        color:white;
      }
    }
  }

  .AnswerPreparation {
    width:100%;
    height:200px;

    padding:5px;

    color:white;
    font-size:1.2em;
    border:1px solid white;
  }

  .QuestionTextarea {
    width:100%;
  }

  .CodeBlock {

    .AceEditor {
      height:300px;
    }
  }

  .SelectBlock {
    .WorkspaceSelectLabel {
      width:110px;
      margin-left:20px;
    }

    .WorkspaceRadioButton {
      display:block;
      width:15px;
      height:15px;
      float:left;
      margin-top:8px;
      border:1px solid white;
    }

    .AdjustPosition {
      margin:0 20px 10px 0;
    }
  }
}

.ActionArea {
  width:100%;
  float:left;

  margin-top:100px;
  padding:15px;

  border:1px solid white;

  .ActionMoveLeft, .AwaitLeft {
    float:left;
  }

  .ActionMoveRight, .AwaitRight {
    float:right;
  }

  .ActionNextTest {
    width:50%;
    float:right;
  }

  .ActionPreviousTest {
    width:50%;
    float:left;
  }

  .ActionFinishTest {
    width:100%;
    float:left;

    margin-top:50px;
  }
}