.Home {

  .ContentMainTitle {
    margin:75px 0 25px 0;
  }

  .Home__New {
    position: relative;
    display:block;
    width:$homeLargeLinks_W;
    height:$homeLargeLinks_H;
    float:left;

    margin-left:35px;

    @include transition(background-color 0.5s ease, border 0.5s ease);

    border:1px solid $contentHighlight;

    .NewTestLink--content {
      width:100%;
      position:absolute;
      top:180px; left:0;
      text-align: center;

      opacity:0;
      color:white;
      font-size:1.6em;

      @include transition(top 0.5s ease-in-out, opacity 0.5s ease-in-out);
    }

    &:hover .NewTestLink--content {
      top:240px;
      opacity:1;
    }

    &:hover {
      background-color: $mainHoverColor;

      border:1px solid $mainHoverColor;
    }
  }


  .Home__NewTestLink {
    background: url(../../images/icons/code.png) no-repeat;
    background-position: 50% 10%;
    @include prefix(background-size, 50% 50%);
  }

  .Home__NewTestSuiteLink {
    background: url(../../images/icons/test-suite.png) no-repeat;
    background-position: 50% 10%;
    @include prefix(background-size, 50% 50%);
  }

  .Home__StandaloneTest {
    background: url(../../images/icons/test.png) no-repeat;
    background-position: 50% 10%;
    @include prefix(background-size, 50% 50%);
  }
}

.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $mainHoverColor;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
