.MainNavigation {
  z-index:100;

  .MainNavigation__List {
    width:600px;
    float:left;

    padding:5px;

    .List--navigationLink {
      display:block;
      float:left;

      width:$iconWidth;
      height:$iconHeight;

      background: url(../images/icons/home-icon.png) no-repeat;
      @include prefix(background-size, cover);
    }
  }

  .UserInfo {
    width:250px;
    float:right;
    position:relative;
    z-index:100;

    padding:5px;

    .UserInfo--mail {
      display:block;
      width:190px;
      float:right;

      color:white;
      font-size:1.2em;
      background-color: transparent;
      font-family: "Open Sans Condensed", sans-serif;
      border:none;
      text-align: right;
    }

    .UserInfo--userIcon {
      display:block;
      float:right;
      width:$iconWidth;
      height:$iconHeight;

      @include background-image(url(../../images/icons/user-icon.png), no-repeat);
      @include prefix(background-size, cover);
    }

    &:hover {
      background-color: $mainHoverColor;
    }

    &:hover .TestListPopup {
      opacity:1;
      right:-332px;
    }
  }
}

