.MainNavigation {
  z-index:100;

  .MainNavigation__List {
    width:600px;
    float:left;

    padding:5px;

    .List--navigationLink {
      display:block;
      float:left;

      width:$iconWidth;
      height:$iconHeight;

      background: url(../images/icons/home-icon.png) no-repeat;
      @include prefix(background-size, cover);
    }
  }

  .UserInfo {
    width:250px;
    float:right;
    position:relative;
    z-index:100;

    .UserInfo--mail {
      display:block;
      width:235px;
      float:right;

      color:white;
      font-size:1.2em;
      background-color: transparent;
      font-family: "Open Sans Condensed", sans-serif;
      border:none;
      text-align: center;

      padding:5px 5px 5px 5px;

      @include transition(background-color 0.3s, color 0.3s);

      .UserInfo--userIcon {
        display:block;
        float:right;
        width:$iconWidth;
        height:$iconHeight;

        @include background-image(url(../../images/icons/user-icon.png), no-repeat);
        @include prefix(background-size, cover);
      }


      &:hover {
        background-color: $mainHoverColor;
        color:white;
      }
    }

    &:hover .UserInfo--mail {
      color:wbite;
      cursor:pointer;
    }
  }
}

