.TestListPopup {

  @include opacity(0);
  position:absolute;
  top:100%; right:-350%;
  z-index:-1;

  width:250%;
  height:600px;

  padding:5px;

  background-color: white;

  @include transition(right 0.5s ease, opacity 0.5s ease);

  .PopupProfile {
    width:30%;
    float:right;
    background-color: $blueLight;

    padding:5px;

    @include transition(background-color 0.3s ease-in-out);

    .Profile--choiceLink {
      width:100%;
      display:block;

      color:white;
      font-size:1.2em;

      padding:10px;

      &:hover {
        background-color: $blueLight;
      }
    }

    &:hover {
      background-color: $blueDark;
    }
  }
}

.Profile--choiceLink {
  position:relative;
  overflow:hidden;

  .PopupIcons {
    display:block;
    position:absolute;
    top:6px; right:-35px;

    width:25px;
    height:25px;

    @include transition(right 0.3s ease-in-out);
  }

  .AddUserIcon {
    background: url(../images/icons/add-user.png) no-repeat;
    @include prefix(background-size, cover);
  }

  .LogoutIcon {
    background: url(../images/icons/logout.png) no-repeat;
    @include prefix(background-size, cover);
  }

  .EditProfileIcon {
    background: url(../images/icons/edit-profile.png) no-repeat;
    @include prefix(background-size, cover);
  }

  &:hover .PopupIcons {
    right:10px;
  }
}


.UserInfo:hover .TestListPopup {
  opacity:1;
  right:0;
}