.InstallBody {
  background:url(../images/install-background.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-color: $mainColor;
}

.GlobalInstall {
}

.InstallHeader {
  float:none;
  overflow:hidden;
}

.Content {
  position:relative;
  width:1280px;
  height:600px;
  overflow:hidden;
  margin:0 auto;
  margin-top:50px;
}

.InstallInformation {
  width:800px;
  left:260px;
  position:absolute;

  .InstallInformation--paragraph {
    width:100%;
    margin:0 0 15px 0;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-size:1.2em;
    color:white;
  }

  .InsideLink {
    color:$mainHoverColor;
  }

  .InstallInformation--continueButton {
    width:150px;
    float:right;
    display:block;

    border:1px solid white;
    background-color: transparent;
    font-family: 'Open Sans Condensed', cursive;
    color:white;
    font-size:1.5em;

    margin:15px 0 0 0;
    padding:10px;

    @include transition(background-color 0.4s, border 0.4s);

    &:active {
      background-color: $mainHoverColor;
      border:1px solid $mainHoverColor;
    }

    &:hover {
      background-color: $mainHoverColor;
      border:1px solid $mainHoverColor;
    }
  }
}

.Install__Title {
  font-family: 'Dancing Script', cursive;
  font-size:7em;
  text-align: center;
  color:$mainHoverColor;

  margin:50px 0 50px 0;
}

.UninstalledMessage {
  font-family: "Open Sans Condensed", sans-serif;
  font-size:1.2em;
  color:white;

  letter-spacing: 0.05em;
  line-height: 1.8em;
}

.InstallLink {
  width:200px;
  display:block;
  padding:10px;
  overflow:hidden;
  margin:0 auto;

  border:1px solid white;
  font-size:1.2em;

  @include transition(background-color 0.4s, border 0.4s);

  &:active {
    background-color: $mainHoverColor;
    border: 1px solid $mainHoverColor;
  }

  &:hover {
    background-color: $mainHoverColor;
    border:1px solid $mainHoverColor;
  }
}

.FormPosition {
  width:800px;
  position:absolute;
  top:0; left:0;

  .InstallLabel, .LoginLabel {

  }

  .InstallField, .LoginField {

  }

  .InstallSubmit {
    margin:15px 160px 0 0;
  }
}


.InstallForm {
  left:1280px;

  .ActionMoveRight {
    margin-right:160px;
  }

  .ActionDecision {
    width:100%;
    float:left;
    text-align: left;
  }

  .InstallError {
    left:650px;
  }
}

.LoginForm {
  width:800px;
  margin:150px 00 0 240px;
}