.InstallBody {
  background:url(../../images/install-background.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-color: $mainColor;
}

.GlobalInstall {
}

.InstallHeader {
  float:none;
  overflow:hidden;
}

.Content {
  position:relative;
  height:650px;
  overflow:hidden;

  margin-top:50px;
}

.InstallInformation {
  width:600px;
  position:absolute;
  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  .InstallInformation--paragraph {
    width:100%;
    margin:0 0 15px 0;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-size:1.2em;
    color:white;
  }

  .InstallInformation--continueButton {
    width:150px;
    float:right;
    display:block;

    border:1px solid white;
    background-color: transparent;
    font-family: 'Open Sans Condensed', cursive;
    color:white;
    font-size:1.5em;

    margin:15px 0 0 0;
    padding:10px;

    @include transition(background-color 0.4s, border 0.4s);

    &:active {
      background-color: $mainHoverColor;
      border:1px solid $mainHoverColor;
    }

    &:hover {
      background-color: $mainHoverColor;
      border:1px solid $mainHoverColor;
    }
  }
}

.Install__Title {
  font-family: 'Dancing Script', cursive;
  font-size:7em;
  text-align: center;
  color:white;

  margin:50px 0 50px 0;
}

.UninstalledMessage {
  font-family: "Open Sans Condensed", sans-serif;
  font-size:1.2em;

  letter-spacing: 0.05em;
  line-height: 1.8em;
}

.InstallLink {
  width:200px;
  display:block;
  padding:10px;
  overflow:hidden;
  margin:0 auto;

  border:1px solid white;
  font-size:1.2em;

  @include transition(background-color 0.4s, border 0.4s);

  &:active {
    background-color: $mainHoverColor;
    border: 1px solid $mainHoverColor;
  }

  &:hover {
    background-color: $mainHoverColor;
    border:1px solid $mainHoverColor;
  }
}

.FormPosition {
  width:600px;
  position:absolute;
  top: 50%;
  left:50%;

  .InstallLabel, .LoginLabel {

  }

  .InstallField, .LoginField {

  }

  .InstallSubmit {
    margin:15px 120px 0 0;
  }

  .Process {
    text-align: right;
    color:white;

    font-size:1.2em;
    padding:10px;
    margin:15px 120px 0 0;
  }

  .Process--installing {
    width:120px;
    float:right;
  }

  .Process--installed {
    width:100%;
    float:right;
    text-align: right;
  }
}


.InstallForm {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  left: 130%;
}

.LoginForm {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}