{% extends '::layout.html.twig' %}

{% block content %}

    <div class="Container  OverflowedContainer" ng-controller="suite.addUserCtrl">
        <div class="ContentElement  CreateUser">
            <h1 class="ContentMainTitle">Add a user</h1>

            <div class="MainContent  ContentCentered">
                <form action="" name="AddUserForm" method="POST" novalidate>
                    <h2 class="ContentSubTitle">Mandatory information</h2>

                    <div class="FormRow">
                        <div class="GlobalErrors" ng-model="globalErrors.errors" ng-repeat="error in globalErrors.errors" ng-show="globalErrors.show">
                            <label class="GlobalError">{[{ error }]}</label>
                        </div>
                    </div>
                    <div class="FormRow">
                        <label for="name" class="FormRow--label  BasicLabel">Name</label>
                        <input type="text" name="name" class="FormRow--field  BasicField" ng-model="user.name" required/>

                        <div class="FormError  BasicError  CreateUserError" ng-show="theForm.notExists('name')">
                            <p>Name has to be provided</p>
                        </div>
                    </div>

                    <div class="FormRow">
                        <label for="lastname" class="FormRow--label  BasicLabel">Lastname</label>
                        <input type="text" name="lastname" class="FormRow--field  BasicField" ng-model="user.lastname" required/>

                        <div class="FormError  BasicError  CreateUserError" ng-show="theForm.notExists('lastname')">
                            <p>Lastname has to be provided</p>
                        </div>
                    </div>

                    <div class="FormRow">
                        <label for="username" class="FormRow--label  BasicLabel">Username</label>
                        <input type="email" name="username" placeholder="...has to be an email" class="FormRow--field  BasicField" ng-model="user.username" required/>

                        <div class="FormError  BasicError  CreateUserError" ng-show="theForm.notExists('username') || theForm.notEmail('username')">
                            <p>A valid email has to be provided</p>
                        </div>
                    </div>

                    <div class="FormRow">
                        <label for="password" class="FormRow--label  BasicLabel">Password</label>
                        <input type="password" name="password" class="FormRow--field  BasicField" ng-model="user.userPassword" ng-minlength="8" required/>

                        <div class="FormError  BasicError  CreateUserError" ng-show="theForm.notExists('password') || theForm.notMinLength('password')">
                            <p>Password has to have at least 8 characters</p>
                        </div>
                    </div>

                    <div class="FormRow">
                        <label for="pass_repeat" class="FormRow--label  BasicLabel">Repeat password</label>
                        <input type="password" name="pass_repeat" class="FormRow--field  BasicField" ng-model="user.userPassRepeat" ng-minlength="8" required/>

                        <div class="FormError  BasicError  CreateUserError" ng-show="theForm.notExists('pass_repeat') || theForm.notEquals('password', 'pass_repeat')">
                            <p>Given passwords have to match</p>
                        </div>
                    </div>

                    <div class="FormRow">
                        <label for="pass_repeat" class="FormRow--label  BasicLabel">User permissions</label>
                        <div class="CheckboxWidget  FormRow--field  BasicField">
                            <section class="CheckboxSection">
                                <label class="BasicLabel">Basic user</label>
                                <input type="checkbox" name="role_user" value="role_user" class="BasicCheckbox" ng-model="user.userPermissions.role_user" ng-change="user.userPermissions.role_user" required>

                                <p class="CheckboxExplanation">
                                    A basic user can only solve tests but does not have access
                                to creating tests or creating/editing/deleting users
                                </p>
                            </section>

                            <section class="CheckboxSection">
                                <label class="BasicLabel">Admin user</label>
                                <input type="checkbox" name="role_admin" value="role_admin" class="BasicCheckbox" ng-model="user.userPermissions.role_admin" ng-change="user.userPermissions.role_admin" ng-click="user.userPermissions.examinePermissions('role_admin')">

                                <p class="CheckboxExplanation">
                                    An admin user can create/solve tests and also create/edit users but cannot delete users
                                </p>
                            </section>

                            <section class="CheckboxSection">

                                <label class="BasicLabel">Super admin user</label>
                                <input type="checkbox" name="role_super_admin" value="role_super_admin" class="BasicCheckbox" ng-model="user.userPermissions.role_super_admin" ng-change="user.userPermissions.role_super_admin" ng-click="user.userPermissions.examinePermissions('role_super_admin')">

                                <p class="CheckboxExplanation">
                                    Super admin can create/solve test and create/edit/delete users.
                                </p>
                            </section>
                        </div>

                        <div class="FormError  BasicError  CreateUserError" ng-show="theForm.enforceChecked(1, ['role_user', 'role_admin', 'role_super_admin'])">
                            <p>At least one permission has to be given</p>
                        </div>

                    </div>

                    <h2 class="ContentSubTitle">Optional information</h2>

                    <div class="FormRow">
                        <label for="fields" class="FormRow--label  BasicLabel">Tehnical fields</label>
                        <input type="text" name="tehnical_fields" class="FormRow--field  BasicField" ng-model="user.fields"/>
                    </div>

                    <div class="FormRow">
                        <label for="programming_languages" class="FormRow--label  BasicLabel">Programming languages</label>
                        <input type="text" name="programming_languages" class="FormRow--field  BasicField" ng-model="user.programming_languages"/>
                    </div>

                    <div class="FormRow">
                        <label for="tools" class="FormRow--label  BasicLabel">Know these useful tools...</label>
                        <input type="text" name="tools" class="FormRow--field  BasicField" ng-model="user.tools"/>
                    </div>

                    <div class="FormRow">
                        <label for="years_of_experience" class="FormRow--label  BasicLabel">Years of experience</label>
                        <input type="text" name="years_of_experience" class="FormRow--field  BasicField" ng-model="user.years_of_experience"/>
                    </div>

                    <div class="FormRow">
                        <label for="future_plans" class="FormRow--label  BasicLabel">Future plans</label>
                        <textarea name="future_plans" class="FormRow--field  BasicField  BasicTextarea" ng-model="user.future_plans"></textarea>
                    </div>

                    <div class="FormRow">
                        <label for="description" class="FormRow--label  BasicLabel">Personal description</label>
                        <textarea name="description" class="FormRow--field  BasicField  BasicTextarea" ng-model="user.description"></textarea>
                    </div>

                    <div class="FormRow">
                        <input type="submit" value="Add user" class="FormRow--submitButton  BasicSubmitButton  CreateUserSubmitButton" ng-click="user.submit($event)">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}