<script type="text/ng-template" id="testRow.html">
    <section class="Expandable">

        <absolute-info-box ng-if="testRow.test.permission == 'restricted'"></absolute-info-box>

        <a href=""  ng-click="directiveData.expandSection($event)" class="Expandable--click">
            <span class="Expandable--item  Expandable--testName">{[{ testRow.test.test_name }]}</span>
            <span class="Expandable--item  Expandable--created">Created: {[{ testRow.test.created }]}</span>
        </a>

        <div class="Expandable--info  TestManagment--info">
            <div class="InfoSection">
                <h2 class="InfoSection--title">Created by</h2>
                <p class="InfoSection--text">{[{ testRow.test.user.username }]}</p>
                <p class="InfoSection--text">{[{ testRow.test.user.name }]} {[{ testRow.test.user.lastname }]}</p>
            </div>

            <div class="InfoSection  FormRow">
                <h2 class="InfoSection--title">Status</h2>
                <p ng-if="directiveData.pendingFinished == true" class="InfoSection--text">Please, wait...</p>
                <p ng-if="testRow.test.finished == 0 && directiveData.pendingFinished == false && directiveData.finishError.error == false" class="InfoSection--text  InfoSection--highlightNotOk">
                    Not finished <a ng-click="directiveData.finishTest($event, 1)" href="#" class="FinishTestButton  BasicSubmitButton  RightAligned  ButtonSpacing  BlueHighlight">Finish</a>
                </p>
                <p ng-if="testRow.test.finished == 1 && directiveData.pendingFinished == false && directiveData.finishError.error == false" class="InfoSection--text  InfoSection--highlightOk">
                    Finished <a ng-click="directiveData.finishTest($event, 0)" href="#" class="FinishTestButton  BasicSubmitButton  RightAligned  ButtonSpacing  BlueHighlight">Unfinish</a>
                </p>
                <p ng-if="directiveData.finishError.error == true" class="InfoSection--text  InfoSection--highlightNotOk">
                    {[{ directiveData.finishError.message }]}
                    <a ng-click="directiveData.resetFinishError($event)" href="#" class="FinishTestButton  BasicSubmitButton  RightAligned  ButtonSpacing  BlueHighlight">Ok</a>
                </p>
            </div>

            <div class="InfoSection  InfoSection--expand">
                <h2 class="InfoSection--title">Remarks</h2>
                <p class="InfoSection--text">{[{ testRow.test.remarks }]}</p>
            </div>

            <div class="FormRow  InfoSection  InfoSection--expand">
                <h2 class="InfoSection--title">Permissions</h2>
                <a ng-click="directiveData.absoluteInfoBox($event, testRow.test.permission)" ng-if="testRow.test.permission == 'restricted'" href="#" class="BasicSubmitButton  LeftAligned  ButtonSpacing  BlueHighlight">View permitted users</a>
                <span ng-if="testRow.test.permission == 'public'" class="InfoSection--text">Public</span>
                <span ng-if="testRow.test.permission == 'error'" class="InfoSection--text">Error: Could not determine permission. Contact whitepostmail@gmail.com</span>
            </div>

            <div class="ModificationActions" ng-if="directiveData.actionPending == false">
                <a ng-click="directiveData.changeMetadata(testRow.test.test_id)" href="" class="ModifyAction--action  ModifyAction--change">Change metadata</a>
                <a ng-click="directiveData.workspace(testRow.test.test_id)" href="" class="ModifyAction--action  ModifyAction--modify">Workspace</a>
                <a ng-click="directiveData.deleteTest(testRow.test.test_id)" href="" class="ModifyAction--action  ModifyAction--delete">Delete</a>
            </div>

            <div class="ModificationActions" ng-if="directiveData.actionPending == true">
                <p class="ActionPending">Please, wait...</p>
            </div>
        </div>
    </section>
</script>