{% extends '::layout.html.twig' %}

{% block content %}
    <div class="Container  OverflowContainer">
        <div class="ContentElement  Home">
            <h1 class="ContentMainTitle">Build...</h1>
            <a href="" class="Home__New  Home__NewTestLink">
                <span class="NewTestLink--content">Build a standalone test</span>
            </a>

            <h1 class="ContentMainTitle">Solve...</h1>

            <a href="" class="Home__New  Home__StandaloneTest">
                <span class="NewTestLink--content">Some test title</span>
            </a>
        </div>
    </div>
{% endblock %}
