{% extends '::layout.html.twig' %}

{% block content %}
    <div class="Container  OverflowContainer">
        <div class="Home">
            <a href="" class="Home__New  Home__NewTestLink">
                <span class="NewTestLink--content">Build a standalone test</span>
            </a>

            <a href="" class="Home__New  Home__NewTestSuiteLink">
                <span class="NewTestLink--content">Build a test suite</span>
            </a>
        </div>
    </div>
{% endblock %}
